config==0.5.1
dipy==1.2.0
future==0.18.2
itk==5.1.1
itk_core==5.1.1
itk_filtering==5.1.1
itk_io==5.1.1
itk_minimalpathextraction==1.1.1
itk_numerics==5.1.1
itk_registration==5.1.1
itk_segmentation==5.1.1
itk_tubetk==0.2.1
learning==0.0.dev0
matplotlib==3.2.1
model==0.6.0
numpy==1.23.4
opencv_python==4.2.0.34
opencv_python_headless==4.6.0.66
paths==0.0.1a1
plotly==5.11.0
Rtree==0.9.4
scikit_image==0.17.2
scikit_learn==0.23.1
scipy==1.9.0
SimpleITK==2.2.0
SimpleITK==2.0.0
SimpleITK==2.2.1
torch==1.11.0